@use "variables" as *;

@font-face {
  font-family: Ropers;
  src: url("../../public/Ropers.ttf");
}

.bookmall_header {
  font-family: Ropers, 'Open Sans', 'Helvetica Neue', sans-serif  ;
  color: antiquewhite;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-image: linear-gradient(to top, #22223b, #22223b);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  #logo {
    padding: 5px 20px;
  }

}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 50%;
  .nav-link {
    display: block;
    width: 130px;
  }
  .user_profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%  ;
    }
    position: relative;
    .profile_dropdown {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background: $sunset-red;
      position: absolute;
      top: 35px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      filter: drop-shadow(0 0 15px #0005);
    }
  }
}

.nav-auth_button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $navy;
  font-weight: 600;
  width: max-content;
  border-radius: 6px;
  padding: 6px 15px;
  outline: none;
  border: 1px solid #dde5b6;
  background: linear-gradient(#adc178, #dde5b6);
  cursor: pointer;
  &:hover {
    filter: hue-rotate(20deg)
  }
}

.logout_button {
  font-family: Ropers, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: black;
  border: 1px solid $tuscan-sun;
  background: linear-gradient($tuscan-sun, $marigold-orange);
}